---
import ContentArticle2 from '../../layout/ContentArticle2.astro';

export async function getStaticPaths() {
  const response = await fetch('https://int-rifky.awan.id/api/articles?populate=*');
  const content = await response.json();

  return content.data.map((article) => ({
    params: { id: article.id.toString() },
    props: { article },
  }));
}

const { id } = Astro.params;
const { article } = Astro.props;


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ContentArticle2 id={id} article={article}>
    <!-- You can add any additional content here if needed -->
  </ContentArticle2>
</body>
</html>